---
import Description from './Description.svelte'
import type { MembersCountVisibilityValue } from '../../index'
import HeroImage from '../../assets/bg_image01.png'
import HeroImageMb from '../../assets/bg_image01_mb.png'
import Logo from '../../assets/logo.png'

const { globalConfig, image, avatar, name, description, compact } =
	Astro.props as {
		globalConfig?: {
			bg: string
			backgroundGradient?: [string, string]
		}
		image?: string
		avatar?: string
		name?: string
		description?: string
		compact?: boolean
	}
---
<style
	define:vars={{
		backgroundImageSrc: `url(${HeroImage.src})`,
		backgroundImageSrcMb: `url(${HeroImageMb.src})`,
	}}
>
	.hero-image {
		background-image: var(--backgroundImageSrcMb);
	}

	@media (min-width: 768px) {
		.hero-image {
			background-image: var(--backgroundImageSrc);
		}
	}
</style>

<!-- Cover image -->
<section
	class:list={[
		'relative mb-16 h-[149.87vw] w-full bg-cover bg-top bg-no-repeat hero-image',
		'md:mb-0 md:h-[66.67vw]',
	]}
>
	<h1
		class:list={[
			'absolute left-[3.31vw] bottom-[2.54vw] w-[93.37vw]',
			'md:left-[3.76vw] md:bottom-[21.43vw] md:w-[48.15vw]',
		]}
	>
		<img src={Logo.src} class="h-auto w-full" alt="" />
	</h1>
	<p
		class:list={[
			'absolute text-white',
			'left-[3.31vw] bottom-[-6.62vw] text-[3.56vw]',
			'md:left-[3.76vw] md:bottom-[19.1vw] md:text-[1.39vw]',
		]}
		class="subtitle absolute text-white">
		Into a world where magic and mystery intertwine.
	</p>
</section>

<!--
<div
	role="presentation"
	class:list={[
		'relative z-0 overflow-x-clip',
		{ '-mb-32 lg:-mb-44': !compact },
		{ 'h-72 lg:h-[32rem]': !compact },
		{ 'h-32': compact },
	]}
>
	<div
		class:list={[
			{
				gradient:
					Boolean(backgroundGradientColorFrom) &&
					Boolean(backgroundGradientColorTo),
			},
			'absolute',
			'left-1/2',
			'bottom-0',
			'translate-x-[-50%]',
			'translate-y-[50%]',
			'aspect-square',
			'rounded-full',
			'w-[950px]',
			'lg:w-[1800px]',
		]}
	>
	</div>
	{
		!compact && (
			<img
				id="cover-image"
				src={PreviewImage.src}
				class="absolute aspect-square h-full w-full max-w-full object-cover"
			/>
		)
	}
</div>
-->

<!-- Avatar, Title, etc.  -->
<section
	class="container relative mx-auto flex max-w-4xl items-start justify-center gap-6 px-6"
>
	<div class="grid max-w-2xl grid-cols-[1fr_auto] items-center gap-2">
		<a href="/">
			<h1 class="flex items-center gap-4 lg:gap-8">
				<span
					transition:name="avatar"
					class:list={[
						'aspect-square overflow-hidden rounded-full border-4 border-surface-200 object-cover',
						{
							'h-12 w-12 lg:h-24 lg:max-h-24 lg:min-h-24 lg:w-24 lg:min-w-24 lg:max-w-24':
								!compact,
						},
						{
							'h-7 w-7 lg:h-14 lg:max-h-14 lg:min-h-14 lg:w-14 lg:min-w-14 lg:max-w-14':
								compact,
						},
					]}
				>
					<img src={avatar} class="aspect-square h-full w-full object-cover" />
				</span>
				<span
					class:list={[
						'font-bold',
						{ 'text-2xl font-bold lg:text-5xl': !compact },
						{ 'text-xl font-bold lg:text-2xl': compact },
					]}>{name}</span
				>
			</h1>
		</a>
		<div class="col-span-2">
			<Description client:load>
				{
					description ??
						'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
				}
			</Description>
		</div>
	</div>
</section>
